[Unit]
Description=Restic service for {{ jobs.name }}
StartLimitIntervalSec=90min
StartLimitBurst=7
{% if jobs.unit_opts is defined %}
{{ jobs.unit_opts }}
{% endif %}

[Service]
Type=oneshot
{% if jobs.cpuweight |int < 100 %}
CPUWeight={{ jobs.cpuweight }}
{% endif %}
{% if jobs.cpuquota |int < 100 %}
CPUQuota={{ jobs.cpuquota }}%
{% endif %}
{% if jobs.ioweight |int < 100 %}
IOWeight={{ jobs.ioweight }}
{% endif %}
Restart=on-failure
RestartSec=10min
User={{ restic_user }}

{% if jobs.commands is defined %}
{% for cmd in jobs.commands %}
ExecStart={{ restic_install_path }}/restic {{ cmd }}
{% endfor %}
{% else %}
ExecStart={{ restic_install_path }}/restic {{ jobs.command }}
{% endif %}

{% if jobs.service_opts is defined %}
{{ jobs.service_opts }}
{% endif %}

[Install]
WantedBy=restic-{{ jobs.name }}.target
