#!/usr/bin/env bash
set -euo pipefail

PATH=/bin:/usr/local/bin:/usr/bin:/usr/bin/env:/snap/bin
export PATH

URL={{ restic_url }}
SNAPSHOT_COUNT=$(restic --no-lock --json snapshots -c --host $(hostname) | jq '. | length')
OLDEST_LAST_SNAPSHOT_TIME=$(date -d $(restic --no-lock --json snapshots --host $(hostname) --last | jq -r '.[0].time') +%s)
MOST_RECENT_SNAPSHOT_TIME=$(date -d $(restic --no-lock --json snapshots --host $(hostname) --last | jq -r '.[-1].time') +%s)
UNIQUE_PATHS=$(restic --no-lock --json --host $(hostname) snapshots | jq '. | group_by(.paths) | length')
MAX_SNAPSHOT_COUNT=$(restic --no-lock --json --host $(hostname) snapshots | jq 'group_by(.paths) | map({"paths": .[0].paths, "total":length}) | max_by(.total) | .total')

# Create function
restic_stats(){
restic --json stats --host $(hostname) latest | jq -c --arg url "$URL" --argjson snapshot_count "$SNAPSHOT_COUNT" --argjson oldest_last_snapshot_time "$OLDEST_LAST_SNAPSHOT_TIME" --argjson most_recent_snapshot_time "$MOST_RECENT_SNAPSHOT_TIME" --argjson date $(date +%s) --argjson unique_paths "$UNIQUE_PATHS" --argjson max_snapshot_count "$MAX_SNAPSHOT_COUNT" '. + {"url": $url} + {"snapshot_count": $snapshot_count} + {"gather_stats_time": $date} + {"oldest_last_snapshot_time": $oldest_last_snapshot_time} + {"most_recent_snapshot_time": $most_recent_snapshot_time} + {"unique_paths": $unique_paths} + {"max_snapshot_count": $max_snapshot_count}'
}

RESTIC_STATS=$(restic_stats)

# Prometheus textfile collector
echo "# HELP restic_url Repo url."
echo "# TYPE restic_url gauge"
echo "restic_url{url=$(echo $RESTIC_STATS | jq '.url')} 1"

echo "# HELP restic_total_size_bytes Total backup size in bytes."
echo "# TYPE restic_total_size_bytes gauge"
echo "restic_total_size_bytes $(echo $RESTIC_STATS | jq '.total_size')"

echo "# HELP restic_total_file_count Number of files in backup."
echo "# TYPE restic_total_file_count gauge"
echo "restic_total_file_count $(echo $RESTIC_STATS | jq '.total_file_count')"

echo "# HELP restic_snapshot_count Total snapshots for this host in repository."
echo "# TYPE restic_snapshot_count gauge"
echo "restic_snapshot_count $(echo $RESTIC_STATS | jq '.snapshot_count')"

echo "# HELP restic_gather_stats_time Time global stats gathered."
echo "# TYPE restic_gather_stats_time gauge"
echo "restic_gather_stats_time $(echo $RESTIC_STATS | jq '.gather_stats_time')"

echo "# HELP restic_oldest_last_snapshot_time Oldest snapshot in the list of last snapshots."
echo "# TYPE restic_oldest_last_snapshot_time gauge"
echo "restic_oldest_last_snapshot_time $(echo $RESTIC_STATS | jq '.oldest_last_snapshot_time')"

echo "# HELP restic_most_recent_snapshot_time Newest snapshot in the list of last snapshots."
echo "# TYPE restic_most_recent_snapshot_time gauge"
echo "restic_most_recent_snapshot_time $(echo $RESTIC_STATS | jq '.most_recent_snapshot_time')"

echo "# HELP restic_unique_paths Unique paths in backup."
echo "# TYPE restic_unique_paths gauge"
echo "restic_unique_paths $(echo $RESTIC_STATS | jq '.unique_paths')"

echo "# HELP restic_max_snapshot_count Max number of snapshots of any path."
echo "# TYPE restic_max_snapshot_count gauge"
echo "restic_max_snapshot_count $(echo $RESTIC_STATS | jq '.max_snapshot_count')"

# Create Ansible fact
DIR="/etc/ansible/facts.d/"
if [ -d "$DIR" ]; then
  restic_stats > /etc/ansible/facts.d/restic_stats.fact
fi
