[Unit]
Description=Gather restic stats

[Service]
Type=oneshot
{% if restic_stats_cpuweight |int < 100 %}
CPUWeight={{ restic_stats_cpuweight }}
{% endif %}
{% if restic_stats_cpuquota |int < 100 %}
CPUQuota={{ restic_stats_cpuquota }}%
{% endif %}
{% if restic_stats_ioweight |int < 100 %}
IOWeight={{ restic_stats_ioweight }}
{% endif %}
ExecStart=/bin/bash -c "/usr/local/bin/restic_textfile_collector.sh | sponge /var/lib/node_exporter/restic.prom"

[Install]
WantedBy=multi-user.target
